#Gitの管理から除外するファイルのリスト
config/*
mods
logs
resourcepacks
saves
screenshots
server-resource-packs
shaderpacks
texturepacks
icon.png
local
usernamecache.json
usercache.json
crafttweaker.log
options.txt
vintagefix
cache
crash-reports
journeymap

#configの除外しないファイルのリスト
!/config/Universal Tweaks - Bugfixes.cfg
!/config/Universal Tweaks - Tweaks.cfg
!/config/Universal Tweaks - General.cfg
!/config/Universal Tweaks - Mod Integration.cfg
!/config/stellar_core.cfg
!/config/sledgehammer.conf
!/config/ZenUtils.cfg
!/config/aeadditions.cfg

